@import "./reset";
@import "./variable";
@import "font-awesome";
@import "./messages";
// @import "groups";
// @import "messages";

  
.leftcolumn {  
  height: 100vh;
  width: 300px;
  background-color: #2f3e51;
  float: left;

  .leftcolumn__top {
    height: 82px;
    width: 100%;
    background-color: #253141;
   

    .leftcolumn__top__name {
      font-size: 16px;
      font-weight: bold;
      line-height: 82px;
      color: $white;
      margin-left: 20px;
      float: left;
    }

    .leftcolumn__top__icons {
      margin-right: 20px;
      line-height: 82px;
      // text-decoration-line: none;
      // text-decoration: none;
      float: right;
      .group-edit {
        color: $white;
      }
      .account-edit {
        color: $white;
        margin-left: 8px;
      }
    }
  }

  .leftcolumn__groups {
    padding: 0 20px;
    .leftcolumn__groups__message {
      height: 91px;
      .leftcolumn__groups__message__name {                 
        font-size: 15px;
        color: $white;
        margin-top: 20px;
      }
      .leftcolumn__groups__message__latest {
        font-size: 11px;
        color: $white;
        margin-top: 5px;
        margin-bottom: 40px;
      }
    }  
  }
}


.contents {
  width: calc(100vw - 300px);
  height: 100%;
  float: left;

  .contents__top {
    height: 82px;
    width: calc(100vw - 300px);
    border-bottom: solid 1px #eeeeee;
    
    .contents__top__left {
      float: left;
      .contents__top__left__name {
        font-size: 20px;
        color: #333333;
        padding-top: 20px;
        margin-left: 40px; 
      }    

      .contents__top__left__member {
        font-size: 12px;
        margin-top: 10px;
        margin-left: 40px;
        color: #999999;
        // float: left;
      }
    }

    .contents__top__editbtn {
      // display: block;
      float: right;
      color: #38aef0;
      // line-height: 82px;
      // height: 40px;
      border: solid 1px;
      padding: 10px 20px;
      margin-top: 20px;
      margin-right: 40px;
      text-decoration-line: none;
    }
  }
  .contents__messages {
    clear: both;
    height: calc(100vh - 82px - 90px);
    background-color: #fafafa;
    .contents__messages__message {      
      margin-left: 40px;
      .contents__messages__message__sender {
        clear: both;
        font-size: 16px;
        font-weight: bold;
        color: #434a54;
        margin-top: 40px;
        float: left;
      }
      .contents__messages__message__date {
        font-size: 12px;
        color: #999999;
        margin-top: 45px;
        margin-left: 10px;
        float: left;
      }
      .contents__messages__message__time {
        font-size: 12px;
        color: #999999;
        margin-top: 45px;
        float: left;
        
      }
      .contents__messages__message__body {
        font-size: 14px;
        color: #434a54;
        clear: left;
      }
    }
  }
}

.postbox {
  height: 90px;
  width: 100%;
  background-color: rgb(190, 184, 184);
  // float: left;
  
  .postbox__text {
    height: 50px;
    width: 80%;
    min-width: 300px;
    background-color: $white;
    line-height: 50px;
    margin-top: 20px;
    margin-left: 40px;
    float: left;

    .postbox__text__text {
      font-size: 16px;
      color: #434a54;
      // display: inline;
      line-height: 50px;
      margin-left: 10px;
      float: left;
    }
    .postbox__text__picon {
      // line-height: 40px;
      margin-right: 10px;
      float: right;
    }
  }
  .postbox__postbtn {   
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    color: $white;
    background-color: #38aef0;
    text-decoration: none;
    margin-top: 20px;
    margin-left: 15px;
    float: left;
  }
}
